<div class="row">
  <div id="modal" class="modal">
  <div class="modal-content">
      <form id="loginForm">
          <label class="modal-label" for="username">Username:</label>
          <input class="modal-input" type="text" id="username" name="username" required>
          <label class="modal-label" for="password">Password:</label>
          <input class="modal-input" type="password" id="password" name="password" required>
          <button class="modal-button" type="submit">Submit</button>
      </form>
  </div>
</div>
</div>

<div class="container pb-3 mt-3" id="content" style="display: none;">
  <div class="row">
    <div
      id="formInfo"
      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4"
    >
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 py-4">
        <% let num = 1 %>
        <% messages.forEach(message => { %>
          <h3>Message <%= num %></h3>
          <br>
          <% num = num + 1; %>
          <form action="/delete-message/<%= message._id %>" method="POST">
            <div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <input
                    name="name"
                    type="text"
                    placeholder="<%= message.name %>"
                    class="form-control form-control-lg form-control-dark border-0 fs-6 cuForm"
                    disabled
                  />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <input
                    name="email"
                    type="text"
                    placeholder="<%= message.email %>"
                    class="form-control form-control-lg border-0 fs-6 cuForm"
                    disabled
                  />
                </div>
              </div>
  
              <div class="row mt-5">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <input
                    name="subject"
                    type="text"
                    placeholder="<%= message.subject %>"
                    class="form-control form-control-lg border-0 fs-6 cuForm"
                    disabled
                  />
                </div>
              </div>
  
              <div class="row mt-5">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <textarea
                    name="messageBody"
                    id=""
                    cols="30"
                    rows="5"
                    placeholder="<%= message.messageBody %>"
                    class="form-control form-control-lg border-0 fs-6 cuForm"
                    disabled
                  ></textarea>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-4">
                  <button type="submit" class="btn btn-danger">Delete message</button>
                </div>
              </div>
            </div>
          </form>
          <br>
          <br>
          <hr>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('modal');
    const content = document.getElementById('content');
    const loginForm = document.getElementById('loginForm');

    loginForm.addEventListener('submit', function (event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        // Example validation logic
        if (username === 'nandaminshin' && password === 'Abc70707') {
            modal.style.display = 'none';
            content.style.display = 'block';
        } else {
            alert('Wrong input data');
            loginForm.reset();
        }
    });
});

</script>